apiVersion: v1
kind: Service
metadata:
  labels:
    app: my-web-app
  name: my-web-app-svc
  namespace: webapp
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: my-web-app
  type: NodePort
status:
  loadBalancer: {}
